Parameters:
  bucket:
    Type: String
    Description: "<existing S3 bucket>"
    Default: "verity-access-logs"

Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
        AccessLoggingPolicy:
            EmitInterval: 5
            Enabled: true
            S3BucketName: { "Ref" : "bucket" }
            S3BucketPrefix: { "Ref" : "AWSEBEnvironmentName" }
        HealthCheck:
            HealthyThreshold: "2"
            Interval: "5"
            Target: "HTTPS"
            Timeout: "60"
            UnhealthyThreshold: "10"