files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIID5jCCAs4CCQCJYS5KMSs9vzANBgkqhkiG9w0BAQUFADCBtDELMAkGA1UEBhMC
        VVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRAwDgYDVQQHDAdSYWxlaWdoMRsw
        GQYDVQQKDBJWZXJpdHkgQmlvU2NpZW5jZXMxEjAQBgNVBAsMCU1hcmtldGluZzEi
        MCAGA1UEAwwZd3d3LnZlcml0eWJpb3NjaWVuY2VzLmNvbTElMCMGCSqGSIb3DQEJ
        ARYWam9yZ2Uub2JhbmRvQGdtYWlsLmNvbTAeFw0yMDAyMTkxMzA3MTZaFw0yMTAy
        MTgxMzA3MTZaMIG0MQswCQYDVQQGEwJVUzEXMBUGA1UECAwOTm9ydGggQ2Fyb2xp
        bmExEDAOBgNVBAcMB1JhbGVpZ2gxGzAZBgNVBAoMElZlcml0eSBCaW9TY2llbmNl
        czESMBAGA1UECwwJTWFya2V0aW5nMSIwIAYDVQQDDBl3d3cudmVyaXR5Ymlvc2Np
        ZW5jZXMuY29tMSUwIwYJKoZIhvcNAQkBFhZqb3JnZS5vYmFuZG9AZ21haWwuY29t
        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAotYxXd6l4l7B6h+fbRY4
        ZxWsfBNSjRDD0TZ08uho5IQPMyzaGbVLWenB05R57JAX3yk5ESz86xkaTRhI+mO3
        OsqVLYempRVRfHuynFM1YxrlboS4R4Gv2IavnXpK6O2A2Nz5xR37dbwdSmZ2DLrG
        iNT4Q/yyfDxYBscv9AVj0VlEhvUmVSH0HlAiIB0oudPDHzVHdMcBJjgAfVKYDPf5
        7CgGjGhaS/8vYbEpSiNnmt+ENkzwMr93C+U6hxXvcoRWCGzHGGCbSHDddGZI3Ysy
        /FF+E0Sc5wRR8UZmLvDGn9+hgqqxOgija+1JebBi8NKW1+4my8bE831kd0pwkWSB
        +QIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQBDC+mczIkdfIfqQnqBtmBV594FtTgY
        fWvoxotUWzNMn46TOHBoDG76w2v4tT//9eQNqPuByu+mgVTnFmNhDh/VUJPSdjRk
        8rITmRwF7ey7z/VYBogMVI8WwjmUQ39Ll064mLNaJNTFIEnpWinnZjIN9Iceyh1P
        etoe/rCwcBPlUJIBJLlJgjHR95DS/NIOBE2YSMECy7JZ8Ge49vZgqnoSm7cN2pd+
        4r1kbeaTK3HYDBYbl6L0R+4Qa3/EXcbK6RooibqCTSLzJQ/ggpFwhW8bCSYm3+Uh
        u0Q/FBy2lIAEKfehiK/QD1KfHjob6iHelwyQQ9w1F8B2TZfH+Q1JSGzf
        -----END CERTIFICATE-----
