Resources:
  AWSEBV2LoadBalancerTargetGroup:
    Properties:
      HealthCheckIntervalSeconds: 30
      VpcId: vpc-578abd2d
      HealthyThresholdCount: 2
      HealthCheckPath: '/healthcheck'
      Port: '443'
      TargetGroupAttributes:
        - Value: '20'
          Key: deregistration_delay.timeout_seconds
      Protocol: HTTPS
      UnhealthyThresholdCount: 10
      HealthCheckTimeoutSeconds: 15
    Type: 'AWS::ElasticLoadBalancingV2::TargetGroup'
